.sidebar {
  position: relative;
  background-image: linear-gradient(
    180deg,
    hsl(146deg 100% 28%) 0%,
    hsl(146deg 83% 33%) 15%,
    hsl(146deg 73% 38%) 34%,
    hsl(147deg 68% 42%) 53%,
    hsl(148deg 63% 46%) 68%,
    hsl(149deg 60% 50%) 79%,
    hsl(150deg 67% 54%) 87%,
    hsl(152deg 76% 58%) 93%,
    hsl(153deg 87% 62%) 97%,
    hsl(154deg 100% 65%) 100%
  );

  padding: 2em;
  height: 100%;
  backdrop-filter: blur(10px);
}

.sidebar__brand {
  font-size: 40px;
  letter-spacing: 3px;
  font-weight: 700;
  font-family: 'Trade Winds', cursive;
  padding: 0 0.7em;
  color: rgb(1, 40, 23);
}

.sidebar__menu {
  margin-top: 6em;
}

.sidebar__menu-item {
  display: flex;
  align-items: center;

  margin-bottom: 1.8em;

  padding: 0.7em;
  border-radius: 7px;
}

.sidebar__menu-item a {
  font-size: 1.1rem;
  margin-left: 0.7em;
  color: black;
}

.active {
  background-color: hsl(146deg 100% 28%);
  color: rgb(1, 40, 23);
}

.active a {
  color: rgb(1, 40, 23);
  font-weight: 500;
}
