.team {
  display: flex;
  flex-wrap: wrap;
}

.chip {
  background-color: transparent;
  border: none;
  outline: none;

  background-color: hsl(146deg 100% 28%);
  color: rgb(1, 40, 23);
  margin-right: 1em;
  margin-bottom: 0.5em;
  border-radius: 6px;
  font-size: 1.1rem;
  letter-spacing: 1px;
  font-weight: 500;

  padding: 0.8em;
  cursor: pointer;
}

.stat__cards {
  width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.active-team {
  background-color: rgb(1, 40, 23);
  color: yellow;
}
