.card {
  max-width: 300px;

  background-color: rgb(92, 248, 181);
  box-shadow: 10px 10px 80px -50px dimgray;
  border-radius: 12px;
  margin-bottom: 2em;

  padding: 1em;
}

.card img {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.stat {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
