.field {
  display: flex;
  flex-direction: column;

  width: 100%;
  overflow: hidden;
}

.soccer-field {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.soccer-field img {
  width: 100%;
}

.player {
  position: absolute;
  top: 0;
  left: 0;
}

.field-player {
  width: 80px;
  height: 80px;
  object-fit: contain;
}
