.strip {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 3px 3px 20px -10px rgba(0, 0, 0, 0.5);
  margin-bottom: 2em;
  background-color: rgb(64, 84, 2);
  padding: 1em;

  color: rgb(207, 207, 150);
}

.strip__match-info {
  display: flex;
  flex-direction: column;
  flex: 0.3;

  font-size: 1.1rem;
  font-weight: 500;
}

.strip__match-info .home {
  color: yellow;
}

.strip__match-info .opponent {
  color: rgb(255, 123, 0);
}

.strip__time {
  flex: 1;
  font-style: italic;
  letter-spacing: 1.1px;
  font-weight: 500;
}

.strip__venue {
  flex: 0.2;

  display: flex;
  align-items: center;
}

.strip__venue svg {
  margin-right: 0.5em;
  font-size: 1.2rem;
}
